body {
    display:flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#0be5f1, #4facfe);
}
p{
    line-height:23px ;
}
ul{
    list-style-type: none ;
}
header {
    background: none;
    color: black;
    flex-wrap: wrap;
    width: 100%;
}
#weather-app{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}


.recent-weather {
    background: white;
    min-width: 350px;
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display : flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}




.the_area {
    width: 70%;
    padding: 10px 15px ;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #f1f1f1;
}

.Enter {

    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #4facfe;
    color: white;
    cursor: pointer;
    
}

.the-temperature {
    font-size: 2.5rem;
    font-weight: bold;
}

/* forecast */
.week-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.day {
    background: #f1f1f1;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.75rem;
    text-align: center;
    margin-right: 0.125rem;
}
.the_area{
    display: flex;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width : 250px ;
}
button{
    font-weight: bold;
}
#news{
    width:80%;
    min-height: 400px ;
    height: fit-content;
    font-weight: bold;
    color:black;
    display:flex;
    flex-direction: column;
    margin: 6px auto;
}
nav  ul{
    width : 100% ;
    margin: 0;
    padding-bottom: 10px ;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;

}
.nav_link{
    padding: 10px 15px ;
    font-weight: bold;
    border: solid 2px #4facfe;
    border-radius: 3px ;
    background-color: white;
    text-decoration: none;
    color:black;
}
.nav_link:hover{
    background-color: pink;
    color: darkred;
}
.nav_link:focus , .nav_link:active{
    background-color: #4facfe;
    color:azure;
}
span{
    font-weight: bold;
    color: darkorchid;
    font-size: 25px;
}
h3 {
    margin: 0px auto ;
    font-size: 30px;
    text-align: center;
}
.article{
    width: min(90%, 700px);
    margin: 10px auto;
    border: solid 2px rgb(19, 122, 226);
    border-radius: 4px ;
    box-shadow: 5px 5px 20px  black ;
    background-color: white;
    min-height: 300px;
    height: fit-content;
}
.section2{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.map{
    background-image: url("photos/location.jpg");
    background-size: cover;
    width:70%;
    height: 500px;
    display: block;
    margin: 15px auto ;
    border:none;
    border-radius: 4px;
}
.sign-up-container{
    width: 350px;
    height: 500px ;
    background-color: #fff;
    border: solid 2px #252525;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    margin: 30px auto;
    padding : 15px 20px ;
    align-items: center;
}
.sing-detail{
    min-width : 250px ;
    line-height: 23px;
    width: fit-content;
    font-weight: bold;
    border: solid 2px #808080;
    border-radius: 3px ;
    margin-top : 3px;
}
#location , 
#about ,
#sign-up{
    width: 100%;
}
/* practice position  */

/* we will practice on multiple classes tomorrow*/
/* we will practice flex-wrap too */